* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.missions-container{
  padding:2rem 4rem;
}
.missions{
  border-collapse: collapse;
  width: 100%;
}
.mission-table-row:nth-child(even){
  background-color: #f2f2f2;

}
.mission-table-header,
.mission-table-data{
  border: 1px solid #dddddd;
  padding: 8px;
}

.mission-table-header{
  text-align: left;
  font-size: 1.3rem;
  font-weight: 700;
}
.mission-table-data:nth-child(1),
.mission-table-data:nth-child(3),
.mission-table-data:nth-child(4){
  width:15%;
}
.mission-table-data:nth-child(3),
.mission-table-data:nth-child(4){
  text-align: center;
}
.mission-table-data:nth-child(1){
  font-size: 1.3rem;
  font-weight: 700;
  vertical-align: top;
}
.member,
.non-member{
  background-color: #6d757d;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 4px 6px;
  border-radius: 5px;
}
.member{
  background-color: #29a9bd;
}
.leave-button,.join-button{
  background-color: inherit;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 4px;
  border: 1px solid black;
  cursor: pointer;
}
.leave-button{
  border-color: #e46571;
  color: #e46571;
}
.leave-button:hover,.join-button:hover{
  transform: scale(1.2,1.2);
}